.clothingItem {
    position:relative; float:left;
    margin-right:-5px;
    overflow: hidden;
    width: 140px;
    height: 200px;
}
img.clothImg
{
   width: 130px;
   border: 1px solid black;
}
.clothSize {display:none}
.tag {
    float:left; padding:1px 6px 1px 6px; margin:2px; background-color:#aaa;
    font-family: arial;
    color : black;
    font-size: 12px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    opacity: .7;
    cursor: pointer;
    margin-left: 5px;
    margin-top: -5px;
    display: inline;
}
.why {display:none}
.userAction {position:absolute; right:40px; top:40px}
.id{display:none}
.explanation {display:none}
.not-clothes {display:none}

.tag:hover
{
    opacity: 1;
}

div.sidebar
{
   text-align: left;
   padding: 3px;
   margin-left: 10px;
   width: 740px;
   background-color: #444;
   border-radius: 8px;
   -moz-border-radius: 8px;
   height  : 95px;
   overflow: hidden;

   background-image: -moz-linear-gradient(top, #999, #555);
   background-image: -webkit-gradient(linear, left top, left bottom, from(#999), to(#555));
   background-image: -webkit-linear-gradient(top, #999, #555);
}

div.sidebarIcon
{
    display: inline-block;
    width: 100px;
    text-align: center;
    margin-left: 15px;
    margin-top: 5px;
}

.selected
{
    padding-top: 0px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    background-color: #ddd;
    color: black;
    font-family: arial;
    font-size: 14px;
    height: 80px;
}

div.container
{
    display: block;
    width: 746px;
    position: absolute;
    left: 10px;
    top : 155px;
    z-index: -7;
    padding-top: 20px;
    height: 1000px;
}

img.sidebarIcon
{
   height: 60px;
   margin-bottom: -10px;
}

a { font-family: arial; color: #eee; font-size: 12px; border: black none 0px; margin: auto;}