.clothingItem {position:relative; float:left; padding:30px}
.clothSize {display:none}
.tag {float:left; padding:1px 6px 1px 6px; margin:2px; background-color:yellow}
.why {display:none}
.userAction {position:absolute; right:40px; top:40px}
.id{display:none}
.explanation {display:none}