.clothingItem {
    position:relative; float:left;
    margin-right:-5px;
    overflow: hidden;
    width: 140px;
    height: 200px;
}
img.clothImg
{
   width: 130px;
   border: 1px solid black;
}
.clothSize {display:none}
.tag {
    float:left; padding:1px 6px 1px 6px; margin:2px; background-color:#aaa;
    font-family: arial;
    color : black;
    font-size: 12px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    opacity: .7;
    cursor: pointer;
    margin-left: 5px;
    margin-top: -5px;
    display: inline;
}
.why {display:none}
.userAction {position:absolute; right:40px; top:40px}
.id{display:none}
.explanation {display:none}
.not-clothes {display:none}

.tag:hover
{
    opacity: 1;
}

a { font-family: arial; color: #eee; font-size: 12px; border: black none 0px; margin: auto;}