

div.searchContainer
{
    background-color: RGB(150, 200, 255);
    width: 300px;
    height: 100%;
    font-family: helvetica;
    color: black;
    padding-left: 20px;
    padding-top: 15px;
}

div.searchtitle
{
    font-size: 30px;
    display: inline;
    margin-right: 40px;
}

div.searchExpander
{
    margin-top: 10px;
    cursor: pointer;
}

div.searchGraphic
{
    display: inline;
}