

div.searchContainer
{
    background-color: RGB(150, 200, 255);
    width: 300px;
    height: 100%;
    font-family: helvetica;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
}

div.searchSubContainer
{

}

div.searchtitle
{
    font-size: 30px;
    display: inline;
    margin-right: 40px;
}

div.searchsubtitle
{
    font-size: 25px;
}


div.searchradio
{
    display: none;
}

div.searchAdvancedContainer
{
    display: block;
    margin-top: 20px;
    border-top: black dotted 1px;
    padding-top: 15px;
}

div.searchExpander
{
    margin-top: 10px;
    cursor: pointer;
}

div.searchGraphic
{
    display: inline;
}

div.searchSwatch
{
    display: inline-block;
    width: 16px;
    height: 16px;
    overflow: hidden;
    border: black solid 1px;
}